<launch>
    <arg name="video_device" default="/dev/video0" />
    <arg name="image_width" default="640" />
    <arg name="image_height" default="480" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>
    <node name="aruco_pose_server" pkg="aruco_pose" type="pose_server.py" output="screen" ></node>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"></node>
</launch>